@using System.Web.Mvc.Html
@{
    this.Layout = null;

    var url = new System.Web.Mvc.UrlHelper(new System.Web.Routing.RequestContext(this.Context, new System.Web.Routing.RouteData()));
}
<!doctype html>
<html>
    <head>
        <title>SteamFilter</title>
        <link rel="Stylesheet" type="text/css" href="@url.Content("~/content/filter.less")" />
        <script type="text/javascript" src="~/scripts/modernizr-2.5.3.js"></script>
    </head>
    <body>
        <div id="content-container">
            <div id="ajax-in-progress">
                @*<div class="loading"></div>*@
                <div id="prompt">Please wait ... </div>
                <div id="status"></div>
            </div>

            <header>
                <h1>Steam Filter</h1>
            </header>
        
            <section id="configuration" class="row">
                <form id="add-player">
                    <h2>Add Players</h2>

                    <input type="text" name="text" data-bind="value: searchTerm" />
                    <input type="submit" value="Search" data-bind="click: search, disable: isSearching" />
                </form>

                <div id="search-results" class="arrow_box" data-bind="visible: results().length > 0">
                    <h3><span data-bind="text: results().length"></span> Search Result<span data-bind="">s</span></h3>
                    <ul data-bind="template: { name: 'search-result', foreach: results }"></ul>
                </div>

                <script type="text/html" id="search-result">
                    <li class='search-result'>
                        <span data-bind="text: name"></span>
                        <a href="javascript:void(0)" data-bind="click: addResult, visible: canSelect">add</a>
                    </li>
                </script>
            </section>

            <section id="filters" class="row">
                <div id="gamers" data-bind="visible: gamers().length > 0">
                    <h3>Gamers</h3>
                    <ul data-bind="template: { name: 'gamer', foreach: gamers }"></ul>
                </div>

                <script type="text/html" id="gamer">
                    <li class='gamer'>
                        <span data-bind="text: name"></span>
                        <a href='javascript:void(0)' data-bind="click: remove">remove</a>
                        <a href='javascript:void(0)' data-bind="click: toggleFriends">
                            {{if displayFriends}}
                                hide friends
                            {{else}}
                                show friends
                            {{/if}}
                        </a>
                        <ul class="friends" data-bind="template: { name: 'friend', foreach: friends }, visible: displayFriends"></ul>
                    </li>
                </script>

                <script type="text/html" id="friend">
                    <li class='friend'>
                        <span data-bind="text: name"></span>
                        <a href="javascript:void(0)" data-bind="click: select, visible: canSelect">add</a>
                        <span data-bind="visible: isAdding">Adding, please wait ... </span>
                    </li>
                </script>

                <div id="filter-dialog">
                    <div id="features" data-bind="visible: features().length > 0">
                        <h3>Features</h3>
                        <ul data-bind="template: { name: 'feature', foreach: features }"></ul>
                    </div>

                    <div id="genres" data-bind="visible: genres().length > 0">
                        <h3>Genres</h3>
                        <ul data-bind="template: { name: 'genre', foreach: genres }"></ul>
                    </div>
                </div>

                <script type="text/html" id="feature">
                    <li class='feature'>
                        <input type="checkbox" data-bind="attr: { id: name }, checked: selected"></input>
                        <label data-bind="attr: { for: name }, text: name"></span>
                    </li>
                </script>

                <script type="text/html" id="genre">
                    <li class='genre'>
                        <input type="checkbox" data-bind="attr: { id: name }, checked: selected"></input>
                        <label data-bind="attr: { for: name }, text: name"></span>
                    </li>
                </script>

            </section>

            <div id="tableContainer" data-bind="visible: games().length > 0">
                <h3>Games (<a href="javascript:void(0)" data-bind="click: showFilterDialog">filter</a>)</h3>
                <div data-bind="simpleGrid: gridViewModel"></div>
                <input type="button" data-bind="click: sortTableByName" value="Sort by Game" />
                <input type="button" data-bind="click: sortTableByPlayers" value="Sort by Players" />
            </div>
        </div>

        <script type="text/javascript" src="@url.Content("~/scripts/lib")"></script>
        <script type="text/javascript" src="http://fgnass.github.com/spin.js/spin.js"></script>

        <script type="text/javascript" src="@url.Content("~/scripts/local")"></script>
    </body>
</html>